.exibir-conteudo {
  display: block;
}

.ocultar-conteudo {
  display: none;
}

.cor-principal {
  background-color: #32CD32;
}

.tamanho-logo {
  text-align: right;
}

#p-criar-conta {
  text-align: center;
}

#button-cadastro {
  background-color: #32CD32;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-right: 10px;
}

#button-cancelar-cadastro {
  background-color: red;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
}

#button-login {
  background-color: #32CD32;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
}

form {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 3%;
  margin-bottom: 10%;
}

h1 {
  font-size: 400%;
  text-align: center;
  font-style: thin;
  margin-top: 40px;
  margin-bottom: 50px;
}

footer>p {
  color: white;
  text-align: center;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}